APP_BIND_IP=0.0.0.0
APP_PORT=8088
APP_ENV=production
PROD_PHPMYADMIN_BIND_IP=127.0.0.1
PROD_PHPMYADMIN_PORT=8089
TZ=Asia/Singapore
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=your_gmail_address@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_FROM_ADDRESS=your_gmail_address@gmail.com
MAIL_FROM_NAME=Hyphen System
MAIL_REPLY_TO=your_gmail_address@gmail.com

MYSQL_DATABASE=hyphen_sys
MYSQL_USER=hyphen_user
MYSQL_PASSWORD=replace_with_prod_password
MYSQL_ROOT_PASSWORD=replace_with_prod_root_password
