APP_BIND_IP=0.0.0.0
APP_PORT=8088
PROD_PHPMYADMIN_BIND_IP=127.0.0.1
PROD_PHPMYADMIN_PORT=8089
TZ=Asia/Singapore

MYSQL_DATABASE=hyphen_sys
MYSQL_USER=hyphen_user
MYSQL_PASSWORD=replace_with_prod_password
MYSQL_ROOT_PASSWORD=replace_with_prod_root_password